Package: gooroom-example-dbgsym
Source: gooroom-example
Version: 0.1.0+grm1u1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Gooroom Maintainers <gooroom@gooroom.kr>
Installed-Size: 57
Depends: gooroom-example (= 0.1.0+grm1u1)
Section: debug
Priority: optional
Description: debug symbols for gooroom-example
Build-Ids: 987b3fccc0ec01a13ae6926c387fce40fc03de9b
